body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: grey;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    background-color: navy;
    color: white;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: darkblue;
    transform: scale(1.1);
}


