<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexsheets.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginsheet.css') }}" />
</head>
<body>
    <div class="header">
        <h1>ALX Fencing Project</h1>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('input_form') }}">Input</a>
            <a href="#">About</a>
            <a href="#" id="loginLink">Login</a>
        </nav>
    </div>

    <div class="form">
        <div class="close">&times;</div>
        <h2>Login</h2>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" name="username" required />
            <br />

            <label for=" password">Password:</label>
            <input type="password" name="password" required />
            <br />

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="#" id="registerLink">Register here</a></p>
    </div>

    <script src="{{ url_for('static', filename='js/loginscript.js') }}"></script>

    <div class="container">
        <h1>Welcome to the project for ALX backend Software Engineering</h1>
        <h2>Name of Project: Fence-Line Estimator</h2>
        <p>Use this tool to estimate the materials required for your fencing project</p>

        <!-- Link to the input form page-->
        <a href="{{ url_for('input_form') }}" class="button">Get Started</a>
    </div>
    
    <div class="footer">
        <p>&copy; 2024 Fencing Project Under ALX Software Engineering. All Rights Reserved</p>
    </div>
</body>
</html>