<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexsheets.css') }}" />
</head>
<body>
    <div class="header">
        <h1>ALX Fencing Project</h1>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('input_form') }}">Input</a>
            <a href="#">About</a>
            <a href="#">Login</a>
        </nav>
    </div>

    <div class="container">
        <h1>Welcome to the project for ALX backend Software Engineering</h1>
        <h2>Name of Project: Fence-Line Estimator</h2>
        <p>Use this tool to estimate the materials required for your fencing project</p>

        <!-- Link to the input form page-->
        <a href="{{ url_for('input_form') }}" class="button">Get Started</a>
    </div>
    
    <div class="footer">
        <p>&copy; 2024 Fencing Project Under ALX Software Engineering. All Rights Reserved</p>
    </div>
</body>
</html>